# This is where you import libraries + csv Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./csvData/HeavyPlushie4.csv')
df

              Timestamp        Unnamed: 1            Unnamed: 2
0     4/17/2023 8:59:33  Amicus [Adastra]       Dave [Password]
1     4/17/2023 9:01:34      Lyall [Lyre]       Dave [Password]
2     4/17/2023 9:01:42               NaN       Dave [Password]
3     4/17/2023 9:01:45      Lyall [Lyre]       Dave [Password]
4     4/17/2023 9:01:55  Amicus [Adastra]       Dave [Password]
..                  ...               ...                   ...
115   4/19/2023 7:24:56      Lyall [Lyre]  Nik [The Smoke Room]
116   4/19/2023 9:16:05  Amicus [Adastra]                   NaN
117  4/19/2023 15:39:18  Amicus [Adastra]  Nik [The Smoke Room]
118  4/20/2023 14:09:55      Lyall [Lyre]  Nik [The Smoke Room]
119  4/20/2023 18:31:44  Amicus [Adastra]  Nik [The Smoke Room]

[120 rows x 3 columns]

# This is where you Create the Lists

In [3]:
match1 = df["Unnamed: 1"]
match1

0      Amicus [Adastra]
1          Lyall [Lyre]
2                   NaN
3          Lyall [Lyre]
4      Amicus [Adastra]
             ...
115        Lyall [Lyre]
116    Amicus [Adastra]
117    Amicus [Adastra]
118        Lyall [Lyre]
119    Amicus [Adastra]
Name: Unnamed: 1, Length: 120, dtype: object

In [4]:
amicusList = []
amicusCount = 0
for index, value in match1.items():
    if(value == "Amicus [Adastra]"):
        amicusCount+=1
    amicusList.append(amicusCount)
    
print(amicusList)

[1, 1, 1, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 8, 9, 10, 11, 12, 13, 14, 14, 15, 16, 17, 17, 18, 18, 18, 18, 19, 19, 20, 20, 21, 21, 22, 22, 23, 23, 23, 24, 24, 25, 25, 25, 25, 26, 26, 27, 28, 29, 29, 30, 31, 31, 32, 33, 34, 34, 34, 35, 36, 37, 37, 38, 38, 38, 39, 40, 41, 42, 42, 43, 44, 45, 46, 47, 48, 48, 48, 49, 50, 51, 51, 51, 52, 53, 53, 54, 54, 55, 55, 55, 56, 56, 57, 58, 58, 59, 59, 60, 60, 61, 61, 62, 62, 62, 63, 63, 64, 64, 64, 64, 64, 64, 65, 66, 66, 67]

In [5]:
lyallList = []
lyallCount = 0
for index, value in match1.items():
    if(value == "Lyall [Lyre]"):
        lyallCount+=1
    lyallList.append(lyallCount)
    
print(lyallList)

[0, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 9, 10, 11, 11, 12, 12, 13, 13, 14, 14, 15, 15, 16, 17, 17, 18, 18, 19, 20, 21, 21, 22, 22, 22, 22, 23, 23, 23, 24, 24, 24, 24, 25, 26, 26, 26, 26, 27, 27, 28, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 31, 32, 32, 32, 32, 33, 34, 34, 34, 35, 35, 36, 36, 37, 38, 38, 39, 39, 39, 40, 40, 41, 41, 42, 42, 43, 43, 44, 45, 45, 46, 46, 47, 48, 49, 50, 51, 51, 51, 52, 52]

In [6]:
x = []
for i in range(120):
    x.append(i+1)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120]

In [7]:
match2 = df["Unnamed: 2"]
match2

0           Dave [Password]
1           Dave [Password]
2           Dave [Password]
3           Dave [Password]
4           Dave [Password]
               ...
115    Nik [The Smoke Room]
116                     NaN
117    Nik [The Smoke Room]
118    Nik [The Smoke Room]
119    Nik [The Smoke Room]
Name: Unnamed: 2, Length: 120, dtype: object

In [8]:
daveList = []
daveCount = 0
for index, value in match2.items():
    if(value == "Dave [Password]"):
        daveCount+=1
    daveList.append(daveCount)
    
print(daveList)

[1, 2, 3, 4, 5, 5, 6, 7, 7, 7, 8, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 12, 12, 13, 14, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 17, 17, 18, 18, 19, 20, 21, 21, 22, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 26, 27, 28, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 31, 32, 32, 32, 32, 32, 32, 32, 32, 32, 33, 33, 34, 34, 35, 36, 36, 37, 38, 38, 38, 38, 38, 39, 39, 40, 40, 40, 40, 41, 41, 41, 42, 42, 43, 44, 44, 44, 45, 46, 46, 46, 46, 46, 46, 46, 46]

In [9]:
nikList = []
nikCount = 0
for index, value in match2.items():
    if(value == "Nik [The Smoke Room]"):
        nikCount+=1
    nikList.append(nikCount)
    
print(nikList)

[0, 0, 0, 0, 0, 1, 1, 1, 2, 3, 3, 3, 4, 4, 5, 6, 7, 8, 9, 10, 11, 11, 12, 13, 14, 14, 15, 15, 15, 15, 16, 17, 18, 18, 19, 20, 21, 22, 23, 24, 24, 25, 25, 26, 26, 26, 26, 27, 27, 27, 27, 28, 29, 30, 31, 32, 33, 34, 35, 35, 35, 35, 35, 35, 35, 36, 37, 37, 38, 39, 40, 41, 42, 42, 42, 43, 43, 44, 45, 46, 47, 48, 49, 49, 50, 50, 51, 51, 51, 52, 52, 52, 53, 54, 55, 56, 56, 57, 57, 58, 58, 59, 59, 60, 61, 61, 62, 62, 62, 63, 64, 64, 64, 65, 66, 67, 67, 68, 69, 70]

# This is where you animate and Save to Gif

In [10]:
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import animation
from matplotlib.animation import FuncAnimation
%matplotlib qt

In [11]:
upDownB, upDownA, leftRight = [],[],[]
fig = plt.figure(figsize=(10,8))
axes = fig.add_subplot(1,1,1)
axes.set_ylim(0, 70)
axes.set_xlim(0, 120)
plt.style.use("seaborn")

In [12]:
def animate(i):
    if(i ==0): plt.legend()
    
    upDownB.append(nikList[i])
    upDownA.append(daveList[i])
    leftRight.append(x[i])
    plt.plot(leftRight,upDownB, scaley=True, scalex=True,color = "blue", label = "Nik")
    plt.plot(leftRight,upDownA, scaley=True, scalex=True,color="red", label = "Dave")
    if(i >= 120): 
        #FuncAnimation.pause()
        plt.close()
        return
    
    
ani = FuncAnimation(fig=fig, func=animate, interval=800, save_count=120)
#ani.show

In [13]:
f = "heavyPlushie16.gif" 
writergif = animation.PillowWriter(fps=15) 
ani.save(f, writer=writergif)
#Oh my goodness it still works despite the errors

No artists with labels found to put in legend.  Note that artists whose label start with an underscore are ignored when legend() is called with no argument.

In [14]:
# maybe you should make the animation slower and the graph scale to be lower so it goes higher